<settings>
	<servers>
    <server>
      <id>psus.ebx.repo.releases.admin</id>
      <username>admin</username>
      <password>veryH@rdPwd</password>
    </server>
    <server>
      <id>psus.ebx.repo.snapshots.admin</id>
      <username>admin</username>
      <password>veryH@rdPwd</password>
    </server>
	</servers>

<profiles>
    <profile>
      <id>ebx</id>
      <repositories>
        <repository>
          <id>psus.ebx.repo.releases</id>
          <releases><enabled>true</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></releases>
          <snapshots><enabled>false</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></snapshots>
          <url>http://ec2-54-85-42-45.compute-1.amazonaws.com:8081/repository/maven-releases</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>psus.ebx.repo.snapshots</id>
          <releases><enabled>false</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></releases>
          <snapshots><enabled>true</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></snapshots>
          <url>http://ec2-54-85-42-45.compute-1.amazonaws.com:8081/repository/maven-snapshots</url>
          <layout>default</layout>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>ebx</activeProfile>
  </activeProfiles>

</settings>
