<settings>

  <!--mirrors>
    <mirror>
      <id>antelink</id>
      <name>antelink Central</name>
      <url>http://maven.antelink.com/content/repositories/central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors-->
  
	<servers>
        <server>
          <id>mickaelgermemont.repo.releases.admin</id>
          <username>admin</username>
          <password>veryH@rdPwd</password>
        </server>
        <server>
          <id>mickaelgermemont.repo.snapshots.admin</id>
          <username>admin</username>
          <password>veryH@rdPwd</password>
        </server>
		<server>
		  <id>mickaelgermemont.repo.releases</id>
		  <username>deployment</username>
		  <password>d3ployAg@1n</password>
		</server>
		<server>
		  <id>mickaelgermemont.repo.snapshots</id>
		  <username>deployment</username>
		  <password>d3ployAg@1n</password>
		</server>
	</servers>

<profiles>
    <profile>
      <id>ebxdev</id>
      <repositories>
        <repository>
          <id>ebxdev-releases</id>
          <releases><enabled>true</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></releases>
          <snapshots><enabled>false</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></snapshots>
          <url>http://javastore.mickaelgermemont.com:8081/repository/maven-releases</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>ebxdev-snapshots</id>
          <releases><enabled>false</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></releases>
          <snapshots><enabled>true</enabled><updatePolicy>always</updatePolicy><checksumPolicy>warn</checksumPolicy></snapshots>
          <url>http://javastore.mickaelgermemont.com:8081/repository/maven-snapshots</url>
          <layout>default</layout>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>ebxdev</activeProfile>
  </activeProfiles>
  	
</settings>